.header {
  width: 100%;
  background-color: #1976d2;
  color: #ffffff;
  height: 3.125rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);

  &__title {
    margin: 0 1rem 0 1rem;
    font-size: 1.5rem;
  }
}