.customer-details {
  width: 100%;
  max-width: 56.25rem;
  margin: 0.5rem auto;

  &__message {
    margin: 2rem;
  }

  &__margin-top {
    margin-top: 2rem;
  }

  &__header {
    width: 100%;
    display: flex;

    &__title {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
}