<div class="customer-details">
  <div *ngIf="!customer" class="customer-details__message">
    Select account to view and edit its details.
  </div>
  <p-tabView *ngIf="customer">
    <p-tabPanel header="General">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-building"></i></span>
            <input type="text" pInputText placeholder="Customer Name" [(ngModel)]="customer.name">         
          </div>
        </div>
        <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-id-card"></i></span>
            <input type="text" pInputText placeholder="Account Code" [(ngModel)]="customer.accountCode"> 
          </div>
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <input type="text" pInputText placeholder="Tax Number" [(ngModel)]="customer.taxNumber"> 
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <input type="text" pInputText placeholder="Tax Rule" [(ngModel)]="customer.taxRule"> 
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="currencies" [(ngModel)]="customer.currency" placeholder="Currency" [autoWidth]="false"></p-dropdown>
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="terms" [(ngModel)]="customer.paymentTerms" placeholder="Payment Terms" [autoWidth]="false"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="terms" [(ngModel)]="customer.shippingTerms" placeholder="Shipping Terms" [autoWidth]="false"></p-dropdown>
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
          <input type="text" pInputText placeholder="Credit Limit" [(ngModel)]="customer.creditLimit"> 
        </div>
      </div>
      <div class="customer-details__margin-top">
        <p-panel>
          <p-header>
            <div class="customer-details__header">
              <div class="customer-details__header__title">Phone Numbers</div>
              <button pButton icon="fa fa-fw fa-plus" (click)="addPhone()" title="Add Phone Number"></button>
            </div>
          </p-header>
          <div class="ui-g" *ngFor="let phone of customer.phones; let i=index;">
            <div class="ui-g-10 ui-md-4 ui-fluid">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
                <input type="text" pInputText placeholder="Phone Number" [(ngModel)]="phone.number">
              </div>
            </div>
            <div class="ui-g-2 ui-md-1">
              <button class="ui-button-danger" pButton icon="fa fa-fw fa-minus" (click)="removePhone(i)" title="Remove Phone Number">
              </button>
            </div>
          </div>
        </p-panel>
      </div>
      <div class="customer-details__margin-top">
        <p-panel>
          <p-header>
            <div class="customer-details__header">
              <div class="customer-details__header__title">Addresses</div>
              <button pButton icon="fa fa-fw fa-plus" (click)="addAddress()" title="Add Address"></button>
            </div>
          </p-header>
          <div *ngFor="let address of customer.addresses; let i=index;">
            <div class="ui-g">
              <div class="ui-g-10 ui-md-4 ui-fluid">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-map-marker"></i></span>
                  <input type="text" pInputText placeholder="Line 1" [(ngModel)]="address.line1">         
                </div>
              </div>
              <div class="ui-g-2 ui-md-1">
                <button class="ui-button-danger" pButton icon="fa fa-fw fa-minus" (click)="removeAddress(i)"title="Remove Address">
                </button>
              </div>
            </div>
            <div class="ui-g ui-fluid">
              <div class="ui-g-12 ui-md-4 ui-fluid">
                <input type="text" pInputText placeholder="Line 2" [(ngModel)]="address.line2">  
              </div>
            </div>
            <div class="ui-g ui-fluid">
              <div class="ui-g-12 ui-md-4">
                <input type="text" pInputText placeholder="City" [(ngModel)]="address.city">  
              </div>
              <div class="ui-g-12 ui-md-4">
                <input type="text" pInputText placeholder="State / Province" [(ngModel)]="address.state">  
              </div>
            </div>
            <div class="ui-g ui-fluid">
              <div class="ui-g-12 ui-md-4">
                <input type="text" pInputText placeholder="Country" [(ngModel)]="address.country">  
              </div>
              <div class="ui-g-12 ui-md-4">
                <input type="text" pInputText placeholder="Zip / Postal Code" [(ngModel)]="address.zip">  
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Contacts">
      <p-dataTable [value]="customer.contacts" [responsive]="true" [resizableColumns]="true">
        <p-column field="firstName" header="First Name"></p-column>
        <p-column field="lastName" header="Last Name"></p-column>
        <p-column field="title" header="Title"></p-column>
        <p-column field="department" header="Department"></p-column>
        <p-column field="email" header="Email"></p-column>
        <p-column field="phone" header="Phone"></p-column>
      </p-dataTable>
    </p-tabPanel>
    <p-tabPanel header="Notes">
      <p-dataTable [value]="customer.notes" [responsive]="true">
        <p-column field="date" header="Date"></p-column>
        <p-column field="notes" header="Notes"></p-column>
      </p-dataTable>
    </p-tabPanel>
  </p-tabView> 
</div>
