.main {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__sm-menu {
    display: none;
  }

  &__body {
    display: flex;
    flex: 1;
    position: relative;

    &__list {
      width: 16rem;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
      transition: all 0.3s;
      z-index: 99;
    }

    &__details {
      flex: 1;
      overflow-y: auto;
    }
  }
}

@media screen and (max-width: 40em) {
  .main {
    &__sm-menu {
      height: 2.25rem;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      background-color: #f5f7f8;
    }

    &__body {
      &__list {
        position: absolute;
        left: -16rem;
        top: 0;
        bottom: 0;

        &--active {
          left: 0;
        }
      }
    }
  }
}
