<div class="main">
  <div class="main__sm-menu">
    <button class="ui-button-secondary" pButton icon="fa fa-fw fa-users" (click)="expandList()"></button>
  </div>
  <div class="main__body">
    <div [ngClass]="listExpanded ? 'main__body__list main__body__list--active':'main__body__list'">
      <app-customer-list (select)="selectCustomer($event)"></app-customer-list>
    </div>
    <div class="main__body__details">
      <app-customer-details [customer]="selectedCustomer"></app-customer-details>
    </div>
  </div>
</div>
