<div class="customer-list">
  <div class="customer-list__buttons">
    <button class="ui-button-secondary" pButton icon="fa fa-fw fa-plus" (click)="addCustomer()" title="Add Account"></button>
  </div>
  <div class="customer-list__body">
	  <div [ngClass]="selectedCustomer === customer? 
	  	'customer-list__body__item customer-list__body__item--active':
	  	'customer-list__body__item'" 
	    *ngFor="let customer of customers; let i=index;" 
	    (click)="selectCustomer(null, customer)">
	    <a href="" (click)="selectCustomer($event, customer)">
	    	{{ customer.name }}
	    </a>
	    <button class="ui-button-secondary" pButton icon="fa fa-fw fa-minus" (click)="removeCustomer(i)" title="Remove Account">
	    </button>
		</div>
	</div>
</div>
