.customer-list {
  height: 100%;
  background-color: #f5f7f8;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  &__buttons {
    height: 2.25rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }

  &__body {
    overflow-y: auto;
    flex: 1;

    &__item {
    	display: flex;
    	align-items: center;
    	background-color: #f5f7f8;
      padding: 1rem;
      cursor: pointer;

      a {
        flex: 1;
        text-decoration: none;
        color: inherit;
      }

      &--active {
        background-color: #1976d2;
        color: #ffffff;
      }

      &:focus {
        outline: none;
        border-color: #1976d2;
        border-style: solid;
        border-width: 1px;
      }
    }
  }
}