/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}